<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdAm-b0SKYMGCDSU7V1GFlzCRH2D66Wt4</string>
	<key>GCM_SENDER_ID</key>
	<string>25291663802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.atlas</string>
	<key>PROJECT_ID</key>
	<string>atlas-9978e</string>
	<key>STORAGE_BUCKET</key>
	<string>atlas-9978e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25291663802:ios:e5f7d68b3f51d716b81583</string>
</dict>
</plist>